<div class = "map" id = "assignmentMap">
</div>
<div class = "assignment">
{{!--   {{assignment info}}
 --}}<button class = "button" id = "checkIn">Check In</button>
  <div class = "pic">
  </div>
  <div class = "barName">
  </div>
  <div class = "barAddress">
  </div>
<button class = "button" id = "checkIn">Check In</button>
</div>
