
<div class="container">
  <div class = "main">
    <div class= "leftDiv">
    </div>
    <div class = "mainDiv">
      <div class = "yelp">
      </div>
      <div class = "assignment">
        <p> location: {{bar.location}}</p>
        <p> search radius: 1 mile </p>
        <button>Check In</button>
      </div>
    </div>
    <div class = "rightDiv">
    </div>
  </div>
</div>
