<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <h1>StoolHopper</h1>
    {{{ body }}}
  </body>
</html>
