<div class = "display">
  <img class = "largeLogo" src ="/public/img/wordLogo.png" />
</div>
<div class = "info">
  <input type="text" class="username" id='loginUser' placeholder = "username"/>
  <input type="text" class="password" id="loginPass" placeholder = "password"/>
  <button id='loginSubmit'>Submit</button>
  <a href = "register.hbs">register</a>
</div>
