<div class = "display">
  <img class = "largeLogo" src ="../img/stoolLogo.png" />
</div>
<div class = "logIn">
  <ul>
    <li><input type="text" class="username" id='loginUser' placeholder = "username"/></li>
    <li><input type = "password" class="password" id="loginPass" placeholder = "password"/></li>
    <li><button id='loginSubmit'>Submit</button>
  </ul>
</div>
<div class = "regLink">
  <button id = "registerLink" href = "/user/register">register</button>
</div>
