<div class = "display">
  <img class = "largeLogo" src ="/img/wordLogo.png" />
</div>
<div class = "logIn">
  <input type="text" class="username" id='loginUser' placeholder = "username"/>
  <input type="text" class="password" id="loginPass" placeholder = "password"/>
  <button id='loginSubmit'>Submit</button>
  <a href = "/user/register">register</a>
</div>
