<div class = "container">
  <div class = "wordLogo">
    <img src = "../wordLogo.png" />
  </div>
  <div class = "display">
    <img class = "largeLogo" src ="/public/img/wordLogo.png" />
  </div>
  <div class = "register">
    <input id='regEmail' type="text" class="email" placeholder = "email"/>
    <input id='regUsername' type="text" class="username" placeholder = "username"/>
    <input id='regPass' type = "password" class="password" placeholder = "password"/>
    <input id='regDob' type = "text" class="dob" placeholder = "date-of-birth"/>
    <input id='regHome' type = "text" class="hometown" placeholder = "city, state"/>
    <button id='registerSubmit'>Register</button>
  </div>
</div>
