<div class = "display">
    <img class = "largeLogo" src ="../img/stoolLogo.png" />
</div>
<div class = "register">
  <ul>
    <li><input id='regUsername' type="text" class="username" placeholder = "username"/></li>
    <li><input id='regPass' type = "password" class="password" placeholder = "password"/></li>
    <li><input id='regEmail' type="text" class="email" placeholder = "email"/></li>
    <li><input id='regDob' type = "text" class="dob" placeholder = "date-of-birth"/></li>
    <li><input id='regHome' type = "text" class="hometown" placeholder = "city, state"/></li>
    <button id='registerSubmit'>Register</button>
  </ul>
</div>
