
<div class="container">
  <div class = "main">
    <div class= "leftDiv">
    </div>
    <div class = "mainDiv">
      <div class = "logo">
      </div>
      <div class = "register">
        <input id='regEmail' type="text" class="email" placeholder = "email"/>
        <input id='regUsername' type="text" class="username" placeholder = "username"/>
        <input id='regPass' type = "text" class="password" placeholder = "password"/>
        <input id='regDob' type = "text" class="dob" placeholder = "date-of-birth"/>
        <input id='regHome' type = "text" class="hometown" placeholder = "city, state"/>
        <button id='registerSubmit'>Register</button>
      </div>
    </div>
    <div class = "rightDiv">
    </div>
  </div>
</div>
