
<div class="container">
  <div class = "main">
    <div class= "leftDiv">
    </div>
    <div class = "mainDiv">
      <div class = "map">
      </div>
      <div class = "searchParameters">
        <p> location: {{user.location}}</p>
        <p> search radius: 1 mile </p>
        <button id="searchSubmit">Submit</button>
      </div>
    </div>
    <div class = "rightDiv">
    </div>
  </div>
</div>
