
<div class = "display">
  <div class = "map" id = "searchMap">
  </div>
  <div class = "search">
    <div class = "searchArea">
      <select id = "searchRadius">
        <option value="0" selected>Search Area (miles)</option>
        <option value="1">1</option>
        <option value="5">5</option>
        <option value="10">10</option>
      </select>
    </div>
  <div class = "searchButton">
    <button class = "button" id = "searchSubmit">Search</button>
  </div>
</div>
</div>
