
<div class = "map" id = "searchMap">
  {{!-- {{user loc map}} --}}
</div>
  <div class = "search">
    <p class = "searchTag">Search Area (miles):</p>
    <select id = "searchRadius">
      <option value="1" selected>1</option>
      <option value="5">5</option>
      <option value="10">10</option>
    </select>
    <button class = "button" id = "searchSubmit">Search</button>
  </div>
</div>
