
<div class = "display">
  <div class = "map" id = "searchMap">
  </div>
  <div class = "search">
    <select id = "searchRadius">
      <option value="" disabled selected>Search Area (miles)</option>
      <option value="1" >1</option>
      <option value="5">5</option>
      <option value="10">10</option>
    </select>
  </div>
  <div class = "searchButton">
    <button class = "button" id = "searchSubmit">Search</button>
  </div>
  <div class = "logout">
      <a id = "logoutLink" href='/user/logout'>Logout</a>
  </div>
</div>
