<div class = "display">
  {{user loc map}}
</div>
  <div class = "info">
    <p class = "searchTag">Search Area (miles):</p>
    <select class = "searchRadius">
      <option value="value1">1</option>
      <option value="value2" selected>5</option>
      <option value="value3">10</option>
    </select>
    <button class = "button" id = "Search">Search</button>
  </div>
</div>
