
<div class = "display">
  <div class = "map" id = "searchMap">
  </div>
</div>
<div class = "search">
  <select name = "area" id = "searchRadius">
    <option value="" disabled selected>Search Area (miles)</option>
    <option value="1" >1</option>
    <option value="5">5</option>
    <option value="10">10</option>
  </select>
</div>
<div class = "searchButtons">
  <button type = "submit" class = "searchButton" id = "searchSubmit">Search</button>
  <a href = "/user/logout" class = "logout">
    <button id = "logoutLink">Logout</button>
  </a>
</div>
