body {
  background-color: #323232;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.wordLogo {
  flex: 0 1 auto;
  align-self: center;
  min-width: 600px;
  margin: 100px 0;
}
.largeLogo {
  align-self: center;
}
.display,
.searchMap,
.assignmentMap {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-self: center;
  min-width: 600px;
  height: 600px;
}
.footer {
  flex: 0 1 auto;
  align-self: center;
  min-width: 600px;
}
.username {
  margin: 0 0 0 100px;
}
.searchTag {
  float: left;
  color: white;
  width: 150px;
  margin: 0 0 0 175px;
}
.searchRadius {
  width: 50px;
}
.button {
  width: 50px;
}
ul {
  list-style-type: none;
}
