body {
  background-color: #323232;
}
.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 600px;
}
img {
  width: 400px;
}
