body {
  background-color: #323232;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.wordLogo {
  flex: 0 1 auto;
  align-self: center;
  min-width: 600px;
  margin: 100px 0 0 0;
}
.largeLogo {
  align-self: center;
}
.display,
.map {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-self: center;
  min-width: 600px;
  height: 400%;
}
.footer {
  flex: 0 1 auto;
  align-self: center;
  min-width: 600px;
}
.assignment,
.search {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.searchTag {
  color: white;
  width: 150px;
  margin: 0 0 0 175px;
}
#searchRadius {
  width: 50px;
}
button {
  width: 200px;
  height: 30px;
  justify-content: center;
  align-self: center;
  margin: 0;
  padding: 0;
}
button {
  background: #ea1a1a;
  text-shadow: 2px 2px 3px #323232;
  box-shadow: 0px 1px 3px #323232;
  font-family: sans;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  justify-content: center;
  height: 40px;
}
button:hover {
  background: #ea1a1a;
  text-decoration: none;
  color: #323232;
}
.logIn,
.register {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-self: center;
  min-width: 600px;
}
#registerLink {
  font-family: sans;
  color: #ea1a1a;
  text-decoration: none;
  text-transform: lowercase;
}
#registerLink:hover {
  color: white;
}
ul {
  list-style-type: none;
  color: #ea1a1a;
}
input {
  justify-content: center;
  width: 200px;
  height: 30px;
  margin: 0;
  padding: 0;
}
.map {
  width: 600px;
  height: 400px;
  margin: 0;
  padding: 0;
}
