@lightColor: rgb(245,255,0);
@darkColor: rgb(50,50,50);


body {
  background-color: @darkColor;
}

.container{
	display: flex;
	flex-flow: column nowrap;
	justify-content:center;
}

.main {
	display: flex;
	flex-flow: row nowrap;
	justify-content:center;
  height: 600px;
}

img {
  width: 400px;
}
